src/KaTeX/*
node_modules

/database_service/__pycache__
/database_service/QuiverDatabase/__pycache__/*.pyc
/database_service/Main/migrations/__pycache__/*.pyc
*.pyc
/database_service/*.wpu
/database_service/QuiverDatabase.wpr
*.wpu
db.sqlite3
/db.sqlite3
*.wpr
