asciitree==0.3.3
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
bidict==0.21.2
biopython==1.78
Brotli==1.0.9
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
cycler==0.10.0
dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-cytoscape==0.2.0
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
DateTime==4.3
decorator==4.4.2
dill==0.3.3
Django==3.1.5
django-neomodel==0.0.4
dnspython==2.1.0
docker==4.4.1
dominate==2.6.0
email-validator==1.1.2
english==2020.7.0
fancycompleter==0.9.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.8.0
Flask-Login==0.5.0
Flask-Neo4j==0.5.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
generic==1.0.0
grasia-dash-components==0.3.4
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
lark-parser==0.11.1
MarkupSafe==1.1.1
matplotlib==3.3.3
monotonic==1.5
mpmath==1.1.0
nebula-python==1.1.1.post1
nebula2-python==2.0.0.post1
neo4j==4.2.1
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.1
neotime==1.7.4
networkx==2.5
nltk==3.5
numpy==1.19.4
ordered-set==4.0.2
packaging==20.8
panda3d==1.10.8
pandas==1.1.4
pansi==2020.7.3
passlib==1.7.4
pdbpp==0.10.2
Pillow==8.0.1
plotly==4.13.0
pluggy==0.13.1
prompt-toolkit==2.0.10
psutil==5.7.3
py==1.10.0
py2neo==2020.1.1
pyArango==1.3.4
pycparser==2.20
Pygments==2.7.2
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqtgraph==0.11.0
pyreadline==2.1
pyrepl==0.9.0
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.4
pywin32==227
QPanda3D==0.2.7
regex==2020.11.13
requests==2.25.1
retrying==1.3.3
Shapely==1.7.1
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
stringcase==1.2.0
sympy==1.7
textblob==0.15.3
toml==0.10.2
tqdm==4.54.1
urllib3==1.26.2
visitor==0.1.3
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
wmctrl==0.3
WTForms==2.3.3
zope.interface==5.2.0
